.post-card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px;
  width: 40rem;
  height: 30rem;
  /* border: 2px solid black; */
  margin-bottom: 5vh;
}
.post-card h1 {
  margin: 0;
  text-align: center;
}
.post-card h3 {
  margin: 0;
  text-align: center;
}
.tags {
  display: flex;
  justify-content: space-evenly;
  font-weight: 700;
  /* background-color: #fff; */
  width: 100%;
  /* font-size: 20px; */
}

.main-posts {
  width: 100%;
  min-height: 100vh;
  padding-top: 120px;
  display: flex;
  justify-content: center;
  background: linear-gradient(
    60deg,
    rgb(4, 4, 4),
    #e8e9f3,
    #040404,
    blueviolet
  );
  background-size: 500%;
  animation: gradientaAnimation 5s ease infinite;
}
@keyframes gradientaAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
