.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.nav li {
  margin: 0;
  margin-left: 2rem;
  font-size: 1.2rem;
}

.nav a {
  text-decoration: none;
  color: white;
}

.nav a:hover,
.nav a:active {
  color: #f3cafb;
}

.nav button {
  font: inherit;
  background: rgba(0, 0, 0, 0.26);
  padding: 0.5rem 1.5rem;
  color: blueviolet;
  background-color: white;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.26);
  border-radius: 20px;
  border: none;
  font-size: 0.9rem;
  padding-top: 12 px;
  /* text-transform: lowercase; */
  width: 100px;
}

.nav button:focus {
  outline: none;
}

.nav button:hover,
.nav button:active {
  color: white;
  background-color: blueviolet;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.26);
  transition: 0.7s;
  border: none;
}
.nav li,
h1 {
  cursor: pointer;
}
